html{
    box-sizing: border-box;
    width: 1260px;
    height: 940px;
    background-color: #EDF2C5;
    margin: auto;
}

h1 {
    width:271px;
    height:62px;
    font-family: Arial;
    font-size: 44px;
    font-weight:900;
    font-style: normal;
    font-stretch: normal;
    line-height:0.82;
    text-align: left;
    color: #778a50;
    margin-right: 829px;
    margin-left: 160px;
    margin-top: 36px;
}

/*fbig*/
.navicon{
    width: 940px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 18px;
    margin-left: 500px;
    padding-bottom: 0px;
    margin-top: -80px;
}

.imgA{
    width: 25px;
    height: 25px;
    object-fit: contain;
    padding-right: 10px;
    
}

.imgB{
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-right:1px #778A50 solid;
    padding: 0px 10px 0px 0px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.boxA{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
    color: #778a50;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border:1px solid #778A50;
    border-radius: 3px;
    width: 60px;
    height: 20px;
    margin-left:10px;
    margin-bottom:0px;
    margin-top:-5px;
}

.boxB{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    letter-spacing: normal;
    text-align: center;
    color: #778a50;
    border:1px solid #778A50;
    border-radius: 3px;
    width: 60px;
    height: 20px;
    margin-left:10px;
    margin-bottom:0px;
    margin-top:-5px;
}

/*橫排選項*/
.navbox{
    display: flex;
    width: 900px;
    height: 44px;
    border-radius: 3px;
    background-color: #778a50;
    margin-bottom: 20px;
    margin-left: 160px;
}

ul li{
    list-style-type:none;
    color: #EDF2C5;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    line-height: 2.25;
    text-align: left;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-top: 5px;
    margin-bottom: 11px;
    margin-right: 60px;
}

.img1 {
    width: 940px;
    height: 448px;
    margin-left: 160px;
  }

  .aside{
    display: flex;
    justify-content: center;
    margin-right: 160px;
    margin-left: 160px;
    width: 940px;
    margin-bottom: 35px;
}

  /*左下*/
  .vegetables{
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    line-height: 2.25;
    text-align: left;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #EDF2C5;
    padding-left: 30px;
    padding-top: 5px;

    background-color: #778A50;
    width: 424px;
    height: 45px;
    border-radius: 3px;
    margin-left: 160px;
    margin-bottom: 15px;
    margin-right: 18px;
    margin-top: 30px;

  }

.asideA{
    width: 140px;
    height: 140px;
    margin-left: 160px;
    object-fit: contain;
    padding-right: 12px;
  }

.asideB{
    width: 140px;
    height: 140px;
    object-fit: contain;
    padding-right: 12px;
  }

  
.asideC{
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

/*右下*/
.contact{
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    line-height: 2.25;
    text-align: left;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #EDF2C5;
    padding-left: 30px;
    padding-top: 5px;

    background-color: #778A50;
    width: 444px;
    height: 45px;
    border-radius: 3px;
    margin-right: 160px; 
    margin-top: 30px; 
  }

  .textA{
  width: 414px;
  height: 44px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;

  width: 444px;
  height: 135px;
  background-color: #f7fbda;
  margin-right: 160px;
  padding: 5px 15px 0px 15px;

}

.footerA{
    width: 301px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #EDF2C5;
    margin-left: 480px;
    padding-top: 10px;
}

.footer{
    width: 1260px;
    height: 60px;
    background-color: #778a50;
}
